:root {
  --primarycolor: #ff274b;
  --secondarycolor: #f7bcf7;
  --lighcolor: #ffffff;
  --bgcolor-1: #171a1c;
  --bgcolor-2: #22282a;
  --padding: 8%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: var(--lighcolor);
}
h1 {
  font-size: 3rem;
  margin: 1.7rem;
}
span {
  color: var(--primarycolor);
}

section {
  position: relative;
  padding: 0 10px 0 0;
}

section:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    to right,
    var(--secondarycolor),
    transparent,
    var(--secondarycolor)
  );
  transform: translateX(-50%);
}
.Niveau {
  width: 100%;
  height: 100vh;
  background-color: #171a1c;

  font-size: 10px;
  padding: 2rem var(--padding);
}
.Niveau H1 {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.card h2 {
  padding: 5px;
}
.card {
  width: 190px;
  height: 200px;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  border-radius: 20px;
  box-shadow: 0 5px 25px #f7bcf744;
  flex: 1 0 340px;
  padding: 10px;
  margin: 5px;
  justify-content: space-around;
  transition: 0.5s ease;
}
.card:hover {
  background-color: #000;
  transform: scale(1.03);
}

.card h2 {
  color: white;
  font-size: 2em;
  text-align: center;
}
.card a {
  font-size: 15px;
  text-transform: capitalize;
}
.btn {
  background-color: var(--primarycolor);
  color: var(--lighcolor);
  text-decoration: none;
  font-weight: bold;
  padding: 0.81rem 1.87rem;
  border-radius: 30px;
  border: 2px solid transparent;
  transition: 0.4s;
}
.btn:hover {
  background-color: transparent;
  border: 2px solid var(--primarycolor);
}

footer {
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
